<!-- <!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/stylesheets/welcome-template.css">

         The welcome struct (shown in the main.go code) is received within the HTML and we just need to use the . operator and retrieve the information we want
         <title>Welcome {{.Name}}</title>
   </head>
   <body>
      <div class="welcome center">Welcome {{.Name}}, it is {{.Time}}</div>
   </body>
</html> -->

<!DOCTYPE html>
<html>
<body>

<form method="POST">
  <label for="userID">User Name:</label><br>
  <input type="text" id="userID" name="userID"><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value="Login">
</form> 

</body>
</html>